<div class="container">
  <div>
    <label>ID:</label>
    <input class="form-control" name="pid" [(ngModel)]="pid">
  </div>
  <div>
    <label>IMAGE:</label><br>
    <img name="pimg" [src]="pimg">
  </div>
  <div>
    <label>NAME:</label>
    <input class="form-control" name="pname" [(ngModel)]="pname">
  </div>
  <div>
    <label>PRICE:</label>
    <input class="form-control" name="pprice" [(ngModel)]="pprice">
  </div>
  <div>
    <label>IMAGE:</label>
    <input type="file" class="form-control" name="pimg" [(ngModel)]="pimg">
  </div>
  <div>
  <!-- <button class="btn btn-primary" (click)="onEdit()">EDIT</button> -->



</div>
